



.preLoader {
    position: relative; 
    z-index: 28;
    margin :30px;
    text-align: center;
    width: 80%;
}

  .preLoader h4 {
        margin: 20px 0;
        color: #999;
    }

 .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

   .sk-cube-grid .sk-cube {
        box-sizing: border-box;
        width: 30%;
        height: 30%;
        background-color: #999;
        margin: 0 1px 1px 0;
        float: left;
        -webkit-animation: landing-preloader 1.4s infinite ease-in-out;
        -o-animation: landing-preloader 1.4s infinite ease-in-out;
        animation: landing-preloader 1.4s infinite ease-in-out;
        -webkit-transform: scale3D(0,0,1);
        -o-transform: scale3D(0,0,1);
        transform: scale3D(0,0,1);
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0ms;
        -o-animation-delay: 0ms;
        animation-delay: 0ms;
    }

     .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: .16s;
        -o-animation-delay: .16s;
        animation-delay: .16s;
    }

     .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: .32s;
        -o-animation-delay: .32s;
        animation-delay: .32s;
    }

     .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: .8s;
        -o-animation-delay: .8s;
        animation-delay: .8s;
    }

     .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: .64s;
        -o-animation-delay: .64s;
        animation-delay: .64s;
    }

     .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: .48s;
        -o-animation-delay: .48s;
        animation-delay: .48s;
    }

     .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: .96s;
        -o-animation-delay: .96s;
        animation-delay: .96s;
    }

     .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 1.12s;
        -o-animation-delay: 1.12s;
        animation-delay: 1.12s;
    }

     .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 1.28s;
        -o-animation-delay: 1.28s;
        animation-delay: 1.28s;
    }




@-webkit-keyframes landing-preloader {
    0%,100% {
        -webkit-transform: scale3D(0,0,1);
        transform: scale3D(0,0,1);
    }

    50% {
        -webkit-transform: scale3D(1,1,1);
        transform: scale3D(1,1,1);
    }
}

@-o-keyframes landing-preloader {
    0%,100% {
        -o-transform: scale3D(0,0,1);
        transform: scale3D(0,0,1);
    }

    50% {
        -o-transform: scale3D(1,1,1);
        transform: scale3D(1,1,1);
    }
}

@keyframes landing-preloader {
    0%,100% {
        -webkit-transform: scale3D(0,0,1);
        -o-transform: scale3D(0,0,1);
        transform: scale3D(0,0,1);
    }

    50% {
        -webkit-transform: scale3D(1,1,1);
        -o-transform: scale3D(1,1,1);
        transform: scale3D(1,1,1);
    }
}


   .loader .modalInsider > span {
        display: block;
        background: url(../img/loader.gif) left center no-repeat;
        padding: 4px 0 5px 35px;
        font-size: 13px;
    }

   /*.loader {
    display: none;
    width: 12px;
    height: 12px;
    z-index: 4;
    left: 1px;
    top: 163px;
    background: url(../img/loader_12x12_white.gif) no-repeat;
}*/


    .modalOverlay {
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    border-radius: 5px 0 5px 5px;
    text-align: center;
}

     .modalOverlay .modalContainer {
        position: relative;
        width: auto;
        margin: -50px 0 0 -70px;
        background: #ccc;
        display: inline-block;
        border: 10px solid #ccc;
        border-radius: 5px;
        top: 50px;
    }

     .modalOverlay .modalInsider {
        box-shadow: 0 1px 1px 1px #aaa;
        padding: 20px;
        border-radius: 5px;
        background: #fff;
    }

     /*.modalOverlay.loader .modalInsider > span {
        display: block;
        background: url(../img/loader.gif) left center no-repeat;
        padding: 4px 0 5px 35px;
        font-size: 13px;
    }*/